body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.welcome-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

.back-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.back-btn:hover {
    background-color: #0056b3;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.add-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea,
input[type="number"],
select,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#img-preview {
    width: 100%;
    margin-bottom: 20px;
}

#img-preview img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

#description_until {
    display: none;
}

#description_until input[type="text"] {
    margin-bottom: 0;
}