body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.welcome-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

.logout-btn,
.add-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;    
    transition: background-color 0.3s;
}

.logout-btn:hover,
.add-btn:hover {
    background-color: #0056b3;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 20px;
    font-size: 16px;
}

.grid-item:hover {
    background-color: rgba(0, 123, 255, 0.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 123, 255, 0.3);
}

.grid-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
}
